*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 !important;
  overflow: auto !important;
}

@font-face {
  font-family: Raleway;
  src: url("/fonts/raleway/Raleway-Regular.ttf");
  format: ("ttf");
  font-display: swap;
}

@font-face {
  font-family: RalewayMedium;
  src: url("/fonts/raleway/Raleway-Medium.ttf");
  format: ("ttf");
  font-display: swap;
}

@font-face {
  font-family: RalewaySemiBold;
  src: url("/fonts/raleway/Raleway-SemiBold.ttf");
  format: ("ttf");
  font-display: swap;
}

@font-face {
  font-family: RalewayLight;
  src: url("/fonts/raleway/Raleway-Light.ttf");
  format: ("ttf");
  font-display: swap;
}

@font-face {
  font-family: RalewayBold;
  src: url("/fonts/raleway/Raleway-Bold.ttf");
  format: ("ttf");
  font-display: swap;
}
